/* Estilo del contenedor principal */
main {
	padding: 20px; /* Espaciado interno */
}

/* Estilo de la sección de productos */
section {
	margin-top: 20px; /* Margen superior */
}

/* Estilo de los subtítulos */
h2 {
	font-size: 20px; /* Tamaño de fuente para subtítulos */
	margin-bottom: 30px; /* Margen inferior */
	text-align: center; /* Centrar el texto horizontalmente */
}

.p_titulo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 20px;
}

.p_producto {
	font-weight: bold;
}

/* Estilo base (para pantallas grandes) */
article {
	display: flex;
	align-items: center;
	background-color: #f0f0f0;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin: 10px auto;
	max-width: 1000px;
	width: 100%;
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
	article {
		flex-direction: column; /* Cambiar a columna para apilar la imagen y el texto */
		padding: 15px; /* Aumentar padding para mejor espaciado */
		margin: 15px 10px; /* Ajustar margen */
	}

	article img {
		width: 100%; /* Imagen ocupa todo el ancho disponible */
		height: auto; /* Mantener la proporción */
		border-radius: 5px; /* Bordes redondeados */
		margin-bottom: 10px; /* Espacio entre la imagen y el texto */
	}

	.productos {
		text-align: center; /* Centrar texto para mejor visualización */
	}
}

#productos-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
	padding: 20px;
}

@media (max-width: 600px) {
	#productos-container {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

/* article {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	background-color: #f0f0f0;
} */

.productos img {
	border-radius: 10px;
}

.productos {
	margin-top: 10px;
	font-size: 18px;
}

/* Estilo de las imágenes de productos */
article img {
	border-radius: 10px; /* Bordes redondeados para las imágenes */
	margin-right: 30px; /* Espaciado a la derecha de la imagen */
	margin-top: 10px; /* Espaciado en la parte superior */
	max-width: 180px; /* Ajustar el ancho máximo de las imágenes */
	height: auto; /* Mantener la proporción de la imagen */
}
