.img_principal {
	width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
	max-height: 500px; /* Ajusta la altura máxima que deseas */
	height: auto; /* Mantiene la relación de aspecto de la imagen */
	display: block; /* Evita espacios en blanco debajo de la imagen */
	object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.h2 {
	text-align: center;
	margin-top: 30px;
	font-size: 26px; /* Ajusta el tamaño de la fuente según lo necesites */
	font-weight: bold; /* Hace el texto en negrita */
}
.sobre_nosotros {
	background-color: #f0f0f0;
	text-align: center;
	border-radius: 30px; /* Ajusta el valor según lo que necesites */
	padding: 10px; /* Opcional: agrega un poco de espacio interno */
	margin: 0 50px; /* Márgenes de xx px en los lados  */
	max-width: 1800px; /* Establece un ancho máximo para el elemento */
}

.sobre_nosotros p {
	font-size: 22px;
}

.trabajos {
	background-color: #f0f0f0;
	border-radius: 30px; /* Ajusta el valor según lo que necesites */
	padding: 10px; /* Opcional: agrega un poco de espacio interno */
	margin: 10px 50px; /* Márgenes de xx px en los lados  */
	max-width: 1800px; /* Establece un ancho máximo para el elemento */
	text-align: center; /* Centra el contenido */
}

.trabajos img {
	margin-left: 30px; /* Ajusta el valor según lo que necesites para la separación */
	margin-right: 30px;
	margin-top: 20px;
	display: inline-block;
}

.mapa {
	width: 100%; /* Asegura que el div ocupe todo el ancho */
	overflow: hidden; /* Evita el desbordamiento si es necesario */
}

.mapa iframe {
	width: 100%; /* El iframe ocupa todo el ancho del contenedor */
	height: 475px; /* Ajusta la altura según lo que necesites */
	border: 0; /* Sin borde */
}

.open {
	background-color: #f0f0f0;
	border-radius: 20px;
	padding: 16px;
	margin: 0 auto;
	max-width: 100%;
	width: 90%;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	max-height: 90vh;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}
